.card {
  height: 250px;
  width: 180px;
  padding: 3px;
  position: relative;
  border: 1px solid #000;
  margin-left: -160px;
  background-color: white;
  color: Black;
  border-radius: 10px;
  text-align: left;
}

.cardContainer {
  display: flex;
  justify-content: center;
  margin: 40px 150px 0 250px;
}

.shuffleBtn {
  padding: 10px 20px;
  margin-top: 50px;
}

.pickedCardsContainer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.pickedCard {
  height: 250px;
  width: 180px;
  padding: 3px;
  border: 1px solid #000;
  border-radius: 10px;
  border-radius: 14px 14px 14px 14px;
  background-color: white;
  color: Black;
  margin: 5px;
}
